* {
    margin: 0;
    padding: 0;
    color: #29aae2
}

html {
    background-color: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
    font-size: 100%;
    background-color: #f5f5f5;
}

.vlnka1 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 40%;
    height: 7rem;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: center;
    text-align: left;
}

.content h3 {
    color: #29aae3;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #0a91bf;
}

.content h2 {
    color: #808080;
    padding-left: 3rem;
}

.content>#icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content>#icons>.icon {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    min-width: 220px;
    min-height: 220px;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 1rem 1rem 2rem #d0d0d0;
    align-items: center;
    justify-content: start;
    text-align: center;
    transition: 0.5s
}

.content>#icons>.icon:hover {
    box-shadow: 1rem 1rem 1.5rem #c0c0c0;
}

.content>#icons>.icon>.logo>img {
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    height: auto;
    margin-bottom: 1rem;
}

.content>#icons>.icon>p {
    margin-left: auto;
    margin-right: auto;
    color: #808080;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.content>.headline {
    margin-left: 4rem;
    margin-top: 4rem;
}

/* Optimalizacia pre mobily */

@media screen and (max-width: 600px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .content h2 {
        padding: 0;
    }

    .content>.headline {
        display: block;
        text-align: center;
        margin-left: 0.5rem;
        margin-top: 2rem;
    }

    .content>.headline img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .content>#icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .content>#icons>.icon {
        width: 80%;
        height: 95%;
        min-width: 280px;
        min-height: 280px;
    }

    .content>#icons>.icon>.logo>img {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .content>#icons>.icon>p {
        font-size: 1.3rem;
    }

    .vlnka1 {
        display: none;
    }
}