#footer>p {
    color: #29aae2;
    z-index: 1;
    font-size: 1.2rem;
    position: fixed;
    top: 95%;
    left: 5rem;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    #footer {
        display: none;
    }
}