#formular {
    width: 100%;
}

#map {
    width: 60%;
}

#map iframe {
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
}

#formular .window {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 1rem 1rem 2rem #d0d0d0;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.window h1 {
    color: #29aae2;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.window h2 {
    color: #808080;
    font-weight: lighter;
    font-size: 1.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.window .udaje {
    margin: 2rem;
}

.udaje a {
    text-decoration: none;
    color: #808080
}

.udaje a:hover {
    text-decoration: underline;
    color: #808080
}

.udaje button {
    margin-top: 2rem;
    padding: 0.8rem;
    text-align: center;
    background-color: #29aae2;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.5rem #d0d0d0;
}

.udaje button>a {
    color: white
}