#ponuka {
    text-align: center;
    font-size: 1.4rem;
    margin: 1.5rem;
    margin-bottom: 3rem;
}

#sluzby {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem;
    padding: 3rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
}

#sluzby p {
    color: #808080;
    padding-left: 3rem;
    padding-right: 10rem;
    padding-top: 2rem;
    font-size: 1.1rem
}

#sluzby>.paragraph h1 {
    padding-left: 3rem;
    padding-right: 3rem;
}

#sluzby>.paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#sluzby>.paragraph img {
    width: 100%;
}

#sluzby>.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

#sluzby>.bottom p {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#sluzby>.bottom button {
    box-shadow: 1rem 1rem 1rem #d0d0d0;
    border: none;
    background-color: #29aae2;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}